// Banner Styles

.call-to-action {
	min-height: 45vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;
/*
	-webkit-box-shadow:inset 0 0 0 8000px rgba(0,0,0,.8);
					box-shadow:inset 0 0 0 8000px rgba(0,0,0,.8);
*/
	@include media-breakpoint-up(md) {
		min-height: 100vh;	
		max-height: 100vh;
	}
	
	.vert-wrap.row {
		margin-left: 0;
		margin-right: 0;
	}
	
}
.cta-content {
	border-top: 1px solid #fff;
	.col-sm-4 {
		padding: 0;
		.vert-inner {
			background:  rgb(255,255,255);
			background: rgba(255,255,255,.8);
			margin: 0;
			padding: 20px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			color: #fff;
			text-align: center;
			border-right: 1px solid #fff;
			-webkit-box-shadow:inset 0 0 0 8000px rgba(0,0,0,.8);
							box-shadow:inset 0 0 0 8000px rgba(0,0,0,.8);
			-webkit-transition: all .5s ease-in-out;
				 -moz-transition: all .5s ease-in-out;
				  -ms-transition: all .5s ease-in-out;
					 -o-transition: all .5s ease-in-out;
					    transition: all .5s ease-in-out;
			&:hover {
				-webkit-box-shadow:inset 0 0 0 8000px rgba(0,0,0,.4);
								box-shadow:inset 0 0 0 8000px rgba(0,0,0,.4);
			}
		}
		&:last-child {
			.vert-inner {
				border-right: none;
			}
		}
	}
	@include media-breakpoint-up(md) {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0%;
	}
	
}
